# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

_site/
.sass-cache/
.jekyll-cache/
.bundle/
vendor/
node_modules/
*.swp
pkg/
test/
_deploy/*
Rakefile
.jekyll-metadata
/.idea/
.token
